# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
dist
lib

# don't lint nyc coverage output
coverage

# we need this, because else VSCode would show errors, because the test files are not included in tsconfig
# (we could maybe create a dedicated tsconfig for eslint instead)
test
